{% extends 'base.html' %}

{% block title %}
    UCSB Physics DiRPi Project - Data Record Detail
{% endblock %}

{% block content %}
<!-- Data Record Detail Section -->
<section class="data-record-detail text-center py-5">
    <div class="container" style="display: block;">
        <h2 class="text-center mb-5">Data Record Details</h2>
        <dl class="row">
            <dt class="col-sm-3">Timestamp:</dt>
            <dd class="col-sm-9">{{ data_record.timestamp }}</dd>

            <dt class="col-sm-3">Tier:</dt>
            <dd class="col-sm-9">{{ data_record.data_tier }}</dd>

            <dt class="col-sm-3">Anomalies:</dt>
            <dd class="col-sm-9">{{ data_record.anomalies|default:"None" }}</dd>

            <!-- Add more fields here -->
        </dl>
        <dt class="col-sm-3">Data Table:</dt>
        <hr>
        <dd class="col-sm-9">
            {% if data_record.data_values %}
                <table class="table">
                    <thead>
                        <tr>
                            {% for key in data_record.data_values.0.keys %}
                                <th scope="col">{{ key }}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for record in data_record.data_values %}
                            <tr>
                                {% for key, value in record.items %}
                                    <td>{{ value }}</td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>No data values available</p>
            {% endif %}
        </dd>

    </div>
</section>
{% endblock %}
