{% extends 'base.html' %}

{% load static %}

{% block title %}
  UCSB Physics DiRPi Project - Manage Plot
{% endblock %}

{% block content %}
<!-- Plot Form Section -->
<section class="documentation-common py-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <h1 class="mb-4 text-center">{% if plot.pk %}Edit{% else %}New{% endif %} Plot</h1>
                <form method="post" class="g-3">
                    {% csrf_token %}
                    
                    {# Render the main plot form #}
                    {% for field in form %}
                    <div class="mb-3">
                        {{ field.label_tag }}
                        {{ field }}
                        {{ field.errors }}
                    </div>
                    {% endfor %}
                    
                    <hr>
                    <h3>Run Data:</h3>
                    
                    {# Render the RunData formset #}
                    {{ run_data_formset.management_form }}
                    {% for form in run_data_formset %}
                    <div class="run-data-formset">
                        {% for field in form.visible_fields %}  {# Use .visible_fields to skip hidden fields #}
                        <div class="mb-3">
                            {{ field.label_tag }}
                            {{ field }}
                            {{ field.errors }}
                        </div>
                        {% endfor %}
                    </div>
                    {% endfor %}

                    <hr>
                    <h3>Cut Options:</h3>

                    {# Render the Cut formset #}
                    {{ cut_formset.management_form }}
                    {% for form in cut_formset %}
                    <div class="cut-formset">
                        {% for field in form.visible_fields %}  {# Use .visible_fields to skip hidden fields #}
                        <div class="mb-3">
                            {{ field.label_tag }}
                            {{ field }}
                            {{ field.errors }}
                        </div>
                        {% endfor %}
                    </div>
                    {% endfor %}

                    
                    <div class="d-flex justify-content-between mt-4">
                        <a href="{% url 'plot_list' %}" class="btn btn-secondary">Cancel</a>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}
