{% extends 'base.html' %}

{% load static %}

{% block title %}
  UCSB Physics DiRPi Project - New Plot
{% endblock %}

{% block content %}
  <!-- Plot Form Section -->
  <section class="documentation-common py-5">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-8">
          <h1 class="mb-4 text-center">New Plot</h1>
          <form method="post" class="g-3">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <div class="mb-3">
              {{ form.name.label_tag }}
              {{ form.name }}
              {{ form.name.errors }}
            </div>
            <div class="mb-3">
              {{ form.description.label_tag }}
              {{ form.description }}
              {{ form.description.errors }}
            </div>

            <div class="d-flex justify-content-between mt-4">
              <a href="{% url 'plot_list' %}" class="btn btn-secondary">Cancel</a>
              <button type="submit" class="btn btn-primary">Save</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
