{% extends 'base.html' %}

{% load static %}

{% block title %}
  UCSB Physics DiRPi Project - Run Form
{% endblock %}

{% block content %}
  <!-- Run Form Section -->
  <section class="run-common py-5">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-8">
          <!-- update or new -->
          {% if form.instance.pk %}
            <h1 class="mb-4 text-center">Update Run</h1>
          {% else %}
            <h1 class="mb-4 text-center">New Run</h1>
          {% endif %}
          <form method="post" class="g-3">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <div class="mb-3">
              {{ form.notes.label_tag }}
              {{ form.notes }}
              {{ form.notes.errors }}
            </div>
            <div class="mb-3">
              {{ form.configuration.label_tag }}
              {{ form.configuration }}
              {{ form.configuration.errors }}
            </div>

            <!-- TODO: "Don't see your config? Add a new one" -->
            <!-- include a button which hrefs to the dirpi config creation page in a new tab -->

            <div class="mb-3">
              {{ form.status.label_tag }}
              {{ form.status }}
              {{ form.status.errors }}
            </div>
            <div class="mb-3">
              {{ form.num_files.label_tag }}
              {{ form.num_files }}
              {{ form.num_files.errors }}
            </div>
            <div class="mb-3">
              {{ form.num_events.label_tag }}
              {{ form.num_events }}
              {{ form.num_events.errors }}
            </div>
            <div class="mb-3">
              {{ form.livetime.label_tag }}
              {{ form.livetime }}
              {{ form.livetime.errors }}
            </div>
            <div class="mb-3">
              {{ form.read_deadtime.label_tag }}
              {{ form.read_deadtime }}
              {{ form.read_deadtime.errors }}
            </div>
            <div class="mb-3">
              {{ form.run_time.label_tag }}
              {{ form.run_time }}
              {{ form.run_time.errors }}
            </div>
            <div class="mb-3">
              {{ form.clock_speed.label_tag }}
              {{ form.clock_speed }}
              {{ form.clock_speed.errors }}
            </div>
            <div class="mb-3">
              {{ form.memory_depth.label_tag }}
              {{ form.memory_depth }}
              {{ form.memory_depth.errors }}
            </div>
            <div class="d-flex justify-content-between mt-4">
              <a href="{% url 'run_list' %}" class="btn btn-secondary">Cancel</a>
              <button type="submit" class="btn btn-primary">Save</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
